language: rust

rust:
  - nightly

before_script:
  - rustup component add rust-src
  - (test -x $HOME/.cargo/bin/xargo || cargo install xargo)

sudo: false

notifications:
  email:
    on_success: never
    on_failure: change

addons:
  apt:
    packages:
      - nasm

script:
  - make clean
  - make iso
